/.fleet
/.idea
/.nova
/.vagrant
/.vscode
/.zed

.phpactor.json
.phpunit.cache
.phpunit.result.cache
.env
.env.backup
.env.production
auth.json
Homestead.json
Homestead.yaml
npm-debug.log
node_modules
public/build
public/hot
public/storage
storage/*.key
storage/pail
vendor

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific with changed public path
public_html/hot
public_html/storage
